<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tabi4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-chip>
    <ion-avatar>
      <img class="avatar" alt="Silhouette of mountais" src="../../assets/avatarnome.png">
    
    </ion-avatar>
    <ion-label>Bianca mantovani pires</ion-label>

  </ion-chip>

  <ion-list>
    <ion-item>
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      
      <ion-label>conversas</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>notificação</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="bag-check-outline"></ion-icon>
      <ion-label>assinaturas</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>pagamentos</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon name="diamond-outline"></ion-icon>
      </ion-avatar>
      <ion-label>clube ifood</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon name="ticket-outline"></ion-icon>

      </ion-avatar>
      <ion-label>cupons</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon name="gift-outline"></ion-icon>
      </ion-avatar>
      <ion-label>ifood card</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon name="star-outline"></ion-icon>
      </ion-avatar>
      <ion-label>fidelidade</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
