<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     buscar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Custom Placeholder"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../assets/bebidas2.jpg"  />
          <h3>bebidas</h3>
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../assets/farmcia.png" />
          <h3>farmacia</h3>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../assets/icon restaurante.png" />
          <h3>restaurante</h3>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../assets/mercado.png" />
          <h3>mercado</h3>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../assets/lojas.png" />
          <h3>lojas</h3>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../assets/pet.jpg" />
          <h3>pet</h3>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../assets/padaria.jpg" />
          <h3>padaria</h3>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../assets/mercado.png" />
          <h3>doces

          </h3>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../assets/sorvete.jpg" />
          <h3>sorvete</h3>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../assets/salgados.jpg" />
          <h3>salgados</h3>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
