<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-title>Avenida são jose, 17 Jardim Paulista <ion-icon name="arrow-down"></ion-icon></ion-title>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img class="imginicial" alt="Silhouette of mountains" src="../../assets/mercado.png" />
          <ion-card-header>
            <ion-title class="titulo">Mercado</ion-title>

            </ion-card-header>
            </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img class="imginicial" alt="Silhouette of mountains" src="../../assets/restaurantw.jpg" />
          <ion-card-header>
            <ion-title class="titulo">Restaurante</ion-title>

            </ion-card-header>
            </ion-card>
      </ion-col>

      <!-- aqui pra baixo -->
      <ion-col>
        <ion-card>
          <img class="imginicial" alt="Silhouette of mountains" src="../../assets/farmcia.png" />
          <ion-card-header>
            <ion-title class="titulo">farmacia</ion-title>
            </ion-card-header>
            </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img class="imgsec" alt="Silhouette of mountains" src="../../assets/lojas.png" />
          <ion-card-header>
            <ion-title class="titulo">Lojas</ion-title>

            </ion-card-header>
            </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img class="imginicial" alt="Silhouette of mountains" src="../../assets/bebida.jpg" />
          <ion-card-header>
            <ion-title class="titulo">bebidas</ion-title>
            </ion-card-header>
            </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <img class="imgtec"alt="Silhouette of mountains" src="../../assets/mais.webp" />
          <ion-card-header>
            <ion-title class="titulo">+</ion-title>
            </ion-card-header>
            </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  <br>
      <img class="imagem" alt="promo"src="../../assets/promo.png"/>

 
  


</ion-content>
