<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>peça de novo</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
       x-salada baccon
    </ion-card-content>
    <br>
    <ion-button color="danger" expand="full">adicionar á sacola</ion-button>

  </ion-card>

  <ion-card>
    <br>
    <ion-title>Historicos</ion-title>
    <br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Urso hamburgueria</ion-card-title>
        <ion-card-subtitle>pedido concluido</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        x-salada baccon
      </ion-card-content>

      <ion-card-content>
        avaliação
      </ion-card-content>
    
      <ion-button color="danger" fill="clear">ajuda</ion-button>
      <ion-button color="danger" fill="clear">Adicionar á sacola</ion-button>
    </ion-card>
  </ion-card>




</ion-content>
